streamlit
pandas
pandas_profiling
streamlit-pandas-profiling
Pillow
numpy
#pydantic
pydantic==1.*
streamlit-aggrid
streamlit-date-picker
streamlit_extras
ydata_profiling
reportlab==4.2.0
openpyxl
#reportlab


#datetime
#zipfile
#os
#re
#time

